extends ../layout

block content
    .container__book

        div.information
            p Information:
            p #{bookToRender.title}
            p #{bookToRender.author}
            p #{bookToRender.datePublication}
            p #{bookToRender.inStock}
            p #{bookToRender.readerName}
            p #{bookToRender.dateReturn}

        div.description
            p Description: #{bookToRender.description}

        div.buttons
            button.book__button(type="button" onclick="document.getElementById('editForm').style.display='block'") Redact

            if !bookToRender.readerId
                form(action=`/books/takeit/${bookToRender.id}?_method=POST` method="POST")
                    button.book__button(type="submit") Take it

            if user && bookToRender.readerId === user.id
                form(action=`/books/return/${bookToRender.id}?_method=POST` method="POST")
                    button.book__button(type="submit") Return it

            button.book__button(type="button" onclick="goBack()") Go back      

        dialog#editForm.dialog
            div.modal__content
                h2 Edit Book
                form(action=`/books/redact/${bookToRender.id}?_method=PUT` method="POST")
                    div.form__group
                        label(for="title") Title
                        input#title(type="text" name="title" placeholder="Title" value=bookToRender.title)
                    div.form__group
                        label(for="author") Author
                        input#author(type="text" name="author" placeholder="Author" value=bookToRender.author)
                    div.form__group
                        label(for="datePublication") Publication Date
                        input#datePublication(type="date" name="datePublication" value=bookToRender.datePublication)
                    div.button__group
                        button.cancel-button(type="button" onclick="document.getElementById('editForm').style.display='none'") Cancel
                        button.confirm-button(type="submit") Save Changes

        if tip
            div#bookTakenModal.modal(style="display:block;")
                div.modal-content
                    span.close(onclick="document.getElementById('bookTakenModal').style.display='none'") &times;
                    p #{tip}