extends ../layout

block content
    .container__book
        div.information
            p Information:
            p #{bookToRender.title}
            p #{bookToRender.author}
            p #{bookToRender.datePublication}
            p #{bookToRender.inStock}
            p #{bookToRender.readerName}
            p #{bookToRender.dateReturn}
        div.description
            p Description: #{bookToRender.description}
        if tip
            div#bookTakenModal.modal(style="display:block;")
                div.modal-content
                    span.close(onclick="document.getElementById('bookTakenModal').style.display='none'") &times;
                    p #{tip}
        div.buttons
            button.book__button(type="button" onclick="document.getElementById('editForm').style.display='block'") Redact
            form(action=`/books/takeit/${bookToRender.id}?_method=PUT` method="POST")
                button.book__button(type="submit") Take it
            form(action=`/books/return/${bookToRender.id}?_method=PUT` method="POST")
                button.book__button(type="submit") Return it
            button.book__button(type="button" onclick="location.href='/books'") Go back       
        form#editForm(style="display:none;" action=`/books/redact/${bookToRender.id}?_method=PUT` method="POST")
            input(type="text" name="title" placeholder="Title" value="")
            input(type="text" name="author" placeholder="Author" value="")
            input(type="date" name="datePublication" value="")
            button(type="submit") Save Changes
            button(type="button" onclick="document.getElementById('editForm').style.display='none'") Cancel